{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ status_code }} {{ status_text }}</h1>
    </div>

    <div>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
{% endblock %}