{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Home{% endblock %}
{% block page_title %}Home{% endblock %}

{% block content %}
    {% include 'AppBundle:elements:search_field.html.twig' %}

    <div class="search-results">
        <h2>Search Results</h2>
        <div class="alert alert-warning"><strong>Not found!</strong> Unfortunately we are not able to locate any wikipedia pages with the search term "{{ q }}".</div>
    </div>
{% endblock %}
