
<footer class="footer">
    <div class="container">
        <ul class="list-inline footer-list">
            <li>More Information</li>
            <li><a href="https://github.com/fkrauthan/Wikipedia-Viewer">GitHub</a></li>
            <li><a href="https://ca.linkedin.com/pub/florian-krauthan/30/2ab/28">LinkedIn</a></li>
            <li><a href="http://www.fkrauthan.de">fkrauthan.de</a></li>
        </ul>
    </div>
</footer>
