
<div class="well">
    <form action="{{ path('app_search_search') }}" method="GET">
        <div class="form-group">
            <div class="input-group">
                <input id="search-field" type="text" name="q" value="{{ q|default('') }}" required  class="form-control input-lg typeahead" placeholder="Enter search term...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-lg btn-primary ladda-button" data-style="expand-right">
                        <span class="ladda-label">Search</span>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
