{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Home{% endblock %}

{% block javascripts %}
    {% include 'AppBundle:elements:search_field_js.html.twig' %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Please use the search field on the bottom to search for Wikipedia pages.</p>
    </div>

    {% include 'AppBundle:elements:search_field.html.twig' %}
{% endblock %}
